.iconlog{
    margin-right: 30px;
    font-size: 1em;
}
.title{
    font-size: 1.5em;
}
.imp{
    font-size: 1em;
    width: 100%;
}
.mat-raised-button{
    width: 100%;
    background-color: teal;
    color: white;
}
.mat-toolbar{
    background-color: #0f3057;
    color: white;
}
.tip{
    margin-right: 10px;
}