<mat-toolbar>
    <mat-toolbar-row>
      <span class="title"
        ><mat-icon class="iconlog">build</mat-icon>Taller Mecánico - Error 404</span
      >
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <br>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6">
              <mat-card>
                <img src="../../../../../assets/img/pagenot.jpg" alt="" class="img-fluid" with="300" height="300">
                <br>
                <br>
                <h1 class="title">Lo sentimos, no se encuentra esa página</h1>
                <br>
                <br>
                <button mat-raised-button (click)="returnPage()">
                    <mat-icon class="tip">reply</mat-icon>Regresar
                </button>
              </mat-card>
          </div>
      </div>
  </div>